.auth-container {
  display: flex;
  min-height: 100vh;
  background-color: #f0f8ff;
}

.left-side {
  flex: 1;
  background-color: #e0f7fa;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-side {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.form-box {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #003d79;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.input-icon {
  color: #003d79;
  font-size: 20px;
  margin-right: 8px;
}

input {
  width: 100%;
  padding: 15px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; 
}

.login-button {
 height: fit-content;
 width: fit-content;
  padding: 10px 20px;
  background-color: #003d79;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #5282b7;
}

.auth-link {
  text-align: center;
  margin-top: 10px;
}

.auth-link button {
  background: none;
  border: none;
  color: #003d79;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  text-decoration: underline;
}

.text-danger {
  color: #e74c3c;
}

.modal-content {
  padding: 20px;
}

.modal-header h5 {
  color: #003d79;
}

.send-otp-btn,
.reset-password-btn {
  width: 100%;
  padding: 10px;
  background-color: #003d79;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.send-otp-btn:hover,
.reset-password-btn:hover {
  background-color: #00254d;
}
