.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  background-color: #173866;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #173866;
  margin-right: 10px; 
}

.chat-content {
  display: flex;
  flex: 1;
}

.chat-list {
  width: 300px;
  border-right: 1px solid #173866;
  padding: 10px;
}

.new-group-btn {
  background-color: #173866; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer; 
}

.chat-list ul {
  list-style-type: none;
  padding: 0;
}

.chat-list li {
  background-color: #8ee1d9;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.chat-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
