/* UserNavbar.css */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f2937; /* Tailwind's bg-gray-800 */
  height: 100vh; /* Ensure the sidebar spans the full height of the viewport */
}

.sidebar-header {
  background-color: #1f2937; /* Tailwind's bg-gray-800 */
}

.sidebar-body {
  padding: 1rem;
  color: #37291f;
}

.nav-item a {
  display: flex;
  align-items: center;
  background-color: #f1ebeb;
  row-gap: 10;
}

.nav-item svg {
  width: 20px;
  height: 20px;
}
