.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f2937; /* Tailwind's bg-gray-800 */
  height: 100vh; /* Ensure the sidebar spans the full height of the viewport */
}

.sidebar-header {
  background-color: #1f2937; /* Tailwind's bg-gray-800 */
}
.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-logo {
  width: 80px;
  height: 50px;
  object-fit: contain;
}

.sidebar-title {
  font-size: 1.25rem;
  font-weight: 700;
  
}

.sidebar-body {
  padding: 1rem;
  color: #37291f;
 
}

.nav-item a {
  display: flex;
  align-items: center;
  background-color: #f1ebeb;
  row-gap: 10;
  
}

.nav-item svg {
  width: 20px;
  height: 20px;
  
}

.chat-interface {
  margin-left: 250px; /* Add a left margin equal to the width of the sidebar */
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.chat-list {
  width: 300px;
  border-right: 1px solid #ccc;
  padding: 10px;
}





.chat-list li {
  background-color: #f0f0f0;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

