/* AdminDashboard.css */
.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-profile img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .nav-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(115, 115, 206);
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .nav-button i {
    margin-right: 10px;
  }
  
  .nav-button:hover {
    background-color: #0056b3;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .logout {
    background-color: #dc3545;
  }
  
  .logout:hover {
    background-color: #c82333;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  .health-chart {
    margin-bottom: 20px;
  }
  
  .chart {
    display: flex;
    align-items: center;
  }
  
  .chart svg {
    margin-right: 10px;
  }
  
  .chart-legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .chart-legend span {
    margin-bottom: 5px;
  }
  
  .content {
    flex: 1;
  }
  