.admin-content {
  margin-left: 16rem; /* Adjust this value based on your sidebar width */
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #003d79;
  text-align: center;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

.table-header {
  background-color: #f0f8ff;
}

.table-cell {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-row:hover {
  background-color: #f9f9f9;
}

.delete-button {
  color: #e74c3c;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-button:hover {
  color: #c0392b;
}

.approve-button {
  color: #2ecc71;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.approve-button:hover {
  color: #27ae60;
}
