/* Auth.css
.auth-container {
    display: flex;
    min-height: 100vh;
    background-color: #f0f8ff;
  }
  
  .left-side {
    flex: 1;
    background-color: #e6f2ff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .right-side {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .form-box {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-box h2 {
    text-align: center;
    margin-bottom: 20px; */
  /* } */
/*   
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  } */
  
  /* input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; */
  /* } */
/*   
  button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  } */
  
  /* .auth-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .auth-link a {
    color: blue;
    text-decoration: none;
  } */